<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang quản lý</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Adminassets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="~/Adminassets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/Adminassets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/Adminassets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Adminassets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Adminassets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
    <div id="wrapper">
        @await Html.PartialAsync("_HeaderShipperPartialView.cshtml")
        <!--/. NAV TOP  -->
        @await Html.PartialAsync("_SideNavPartialView.cshtml")
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            @RenderBody()
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/Adminassets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Adminassets/js/bootstrap.min.js"></script>

    <script src="~/Adminassets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="~/Adminassets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="~/Adminassets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Adminassets/js/morris/morris.js"></script>


    <script src="~/Adminassets/js/easypiechart.js"></script>
    <script src="~/Adminassets/js/easypiechart-data.js"></script>

    <script src="~/Adminassets/js/Lightweight-Chart/jquery.chart.js"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="~/Adminassets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/Adminassets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <!-- Custom Js -->
    <script src="~/Adminassets/js/custom-scripts.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>