<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu waves-effect waves-dark" asp-area="Shipper" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-dashboard"></i> Danh sách đơn hàng
                </a>
            </li>
        </ul>
    </div>
</nav>