@model DongHoDemo2.ModelViews.ChangePasswordVM

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Category> allCategories = ViewBag.AllCategories;
}
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Danh mục sản phẩm</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 310px">
                    @*@foreach (var item in allCategories)
                    {
                        string url = $"/{item.CatName}";
                        <a href="@url" class="nav-item nav-link">@item.CatName</a>
                    }*@
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Trang chủ</a>
                        <a asp-controller="Product" asp-action="Index" class="nav-item nav-link">Sản phẩm</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Tài khoản</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-action="Dashboard" asp-controller="Accounts" class="dropdown-item">Trang cá nhân</a>
                                    <a asp-action="Logout" asp-controller="Accounts" class="dropdown-item">Đăng xuất</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Tài khoản</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a asp-action="Login" asp-controller="Accounts" class="dropdown-item">Đăng nhập</a>
                                    <a asp-action="DangKyTaiKhoan" asp-controller="Accounts" class="dropdown-item">Đăng ký</a>
                                </div>
                            </div>
                        }
                        <a asp-controller="Home" asp-action="Contact" class="nav-item nav-link">Liên hệ</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3"><span class="px-2">Đổi mật khẩu</span></h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Tài khoản của tôi</p>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 310px">
                    <a href="tai-khoan-cua-toi.html" class="nav-item nav-link">Thông tin tài khoản</a>
                    <a href="doi-mk.html" class="nav-item nav-link active">Đổi mật khẩu</a>
                    <a href="dia-chi-giao-hang.html" class="nav-item nav-link">Địa chỉ giao hàng</a>
                    <a href="lich-su-dat-hang.html" class="nav-item nav-link">Lịch sử đặt hàng</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <div id="wrapper">
                <div class="container">
                    <div class="row justify-content-around">
                        <form asp-action="DoiMatKhau" asp-controller="Accounts" method="post" class="col-md-6 p-3" style="background-color: blanchedalmond">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="alert-link" style="color: forestgreen">Mật khẩu hiện tại:</label>
                                <input type="password" asp-for="PasswordNow" class="form-control" placeholder="Mật khẩu hiện tại" />
                                <span asp-validation-for="PasswordNow" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="alert-link" style="color: forestgreen">Nhập mật khẩu mới:</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Nhập mật khẩu mới" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="alert-link" style="color: forestgreen">Nhập lại mật khẩu mới:</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Đổi mật khẩu" class="btn btn-success btn btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
